/* styles.css */
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body {
     font-family: Arial, sans-serif;
     background-color: #f4f4f4;
}

.quiz-container {
     max-width: 800px;
     width: 95%;
     margin: 50px auto;
     padding: 20px;
     background-color: #fff;
     border-radius: 10px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     text-align: center;
}

.author-img {
     text-align: center;
}

.author-img img {
     width: 80px;
     height: 80px;
     border-radius: 100%;
     border: 5px solid #f4f4f4;
}

.quiz-title{
     color: #218838;
     margin: 10px 0;
}

#question {
     font-size: 1.5em;
     margin-bottom: 10px;
}

#options {
     margin-bottom: 20px;
     text-align: left;
}

button {
     padding: 10px 20px;
     font-size: 1em;
     background-color: #007bff;
     color: #fff;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     margin: 10px 0;
}

button:disabled {
     background-color: #ccc;
}

.preloader {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: #fff;
     display: flex;
     align-items: center;
     justify-content: center;
     z-index: 9999;
}

.loader {
     border: 16px solid #f3f3f3;
     border-radius: 50%;
     border-top: 16px solid #3498db;
     width: 120px;
     height: 120px;
     animation: spin 2s linear infinite;
}

@keyframes spin {
     0% {
          transform: rotate(0deg);
     }

     100% {
          transform: rotate(360deg);
     }
}

.feedback {
     color: red;
     margin-top: 10px;
}

.score {
     margin-top: 20px;
     font-size: 1.2em;
}
.author-link{
     text-align: center;
}
.author-link a{
     text-decoration: none;
     color: #218838;
}